*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

html,
body {
    min-width:360px;
    min-height: 100%;
    position: relative;
}


:root{
    --color-bg: #ffffff;
    --color-bg-darker: #f2eded;
    --color-bg-variant: #272343;

    --color-card-light: #ffffff;
    --color-card-dark: #2B2E4A;

    --color-scroll-light: #b9b6b6;
    --color-scroll-dark: #9b9797;
    --color-scroll-darker: #9c9999;

    --color-primary: #F73859;
    --color-primary-variant: #F05454;
    --color-black: #222831;
    --color-white: #fcfcfc;
    --color-highlight: #e6bd6c;
    --color-light: rgba(255, 255, 255, 0.6);

    --color-lg-primary: #B20600;
    --color-lg-secondary: #fecb49;
    --color-lg-tertiary: #2B2E4A;
    --color-lg-quaternary: #B000B9;
}
